*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.product{
    width: 250px;
    height: 410px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    
}
.product_title{
    display: flex;
    justify-content: space-between;
}
.product_evaluate{
    display: flex;
    
    
}
.product_img{
    overflow: hidden;
    width: 250px;
    height: 350px;
}
.product img{
    width: 250px;
    height: 350px;
    transition: all 0.5s;
}
.product .product_img img:hover{
    transform: scale(120%);
}

.product_evaluate p{
    margin-top: 17px;
}
